* {
  box-sizing: border-box;
}
.services-container {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

.services-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background:#F4F8F6;
}

.service-box {
  width: 260px;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: white;
  text-align: center;
}

.service-box h4 {
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #00bfff;
}

.service-box p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}
h3{
    color: #00bfff ;
}