
h1{
    background-color:#1efbff;
    height: 80px;
    margin-top: 5px;
}
.banner{
    text-align: center;
    color: black;
    width: 100%;
    height: 150px;
    border: 2px black solid;
}
p{
    font-size: 19px;
}